#pexels-main{
    min-height: 100vh;
   
    .title-container{
        height: 10vh;
        // background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;

        .title{
            font-size: 7rem;
            font-family: 'Dancing Script', cursive, sans-serif;
        }
    }
    .search-bar-container{
        height: 10vh;
        // background-color: aquamarine;
        display: flex;
        justify-content: center;
        align-items: center;

        #search-bar{
            font-size: 4rem;
            border-radius: 2.3rem;
            padding: .2rem;
        }
    }

    .app-navigation-container{
        height: 7vh;
        // background-color: aqua;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        margin: auto;
        position: relative;
        
        button{
            cursor: pointer;
            border: none;
            padding: 1rem 1.5rem;
            background-color: rgb(255, 126, 112);
            border-radius: .8rem;
            box-shadow: 0 15px 20px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.15);
        }
    }
    .pexel-gallery-container{
        height: 65vh;
        width: 85%;
        margin: auto;
        display: grid;
        justify-content: center;
        grid-gap: .5rem;
        cursor: pointer;
        border-radius: 1.5rem;
        overflow: hidden;
    }

    
    //app will initially load with this class on every photo
    .group-grid{
        grid-template-columns: repeat(4, minmax(200px, 500px));
        grid-template-rows: repeat(4, minmax(200px, 500px));
    }
    //app will then remove group-grid, and add single grid 
    .single-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .images{
        height: 100%;
        width: 100%;
        object-fit: cover;       
        // cursor: pointer; 
    }
    .image-0{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        
    }
    .image-1{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .image-2{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .image-4{
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
    .image-7{
        grid-column: 2 / 3;
        grid-row:  3 /5;
        
    }
    .image-8{
        grid-column: 3 / 4;
        grid-row: 3 / 5;
    }

    .dark-background{
        // &:hover{
        //     background-color: grey;
        //     opacity: .5;
            
        // }
        // opacity: 0;
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
        
    
        
    }
    .fa-solid{ 
        color: black;
        font-size: 2.5rem;
        
        padding: 1rem;
        // opacity: 0;
        cursor: pointer;
        &:hover{
            display: block;
        }
    }
}

.next-page-container{
    height: 8vh;
    // background-color: aqua;
    display: flex;
    width: 12.5%;
    margin: auto;
    justify-content: space-around;
    align-items: center;    
    #page-number{
        font-size: 2.5rem;
    }
}
