@media only screen and (max-width:1120px){
    #pexels-main{
        .search-bar-container{
            width: 35%;
            #search-bar{
                font-size: 1.8rem;
            }
            #search-btn{
                font-size: 1.8rem;
            }
        }
    }   
}
@media only screen and (max-width: 970px) {
    button{
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    #pexels-main{
        .title-container{
            .title{
                font-size: 7rem;
            }
        }
        .search-bar-container{
            width: 35%;
            
            #search-bar{
                font-size: 1.3rem;
            }
            #search-btn{
                font-size: 1.3rem;
            }
        }
    
        //app will initially load with this class on every photo
        .group-grid{
            grid-template-columns: repeat(4, minmax(100px, 400px));
            grid-template-rows: repeat(4, minmax(100px, 400px));
        }

        .image-0{
        
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            
        }
        .image-1{
            
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .image-2{
           
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        .image-4{
            grid-column: 4 / 5;
            grid-row: 1 / 3;
        }
        .image-7{
            grid-column: 2 / 3;
            grid-row:  3 /5;
            
        }
        .image-8{
            grid-column: 3 / 4;
            grid-row: 3 / 5;
        }
    }
}

@media only screen and (max-width: 692px) {
    #pexels-main{
        .title-container{
           
            .title{
                font-size: 7rem;
                
            }
        }
        .search-bar-container{
            width: 55%;
            #search-bar{
                font-size: 1.3rem;
            }
            #search-btn{
                font-size: 1.3rem;
            }
        }

        .app-navigation-container{
            width: 95%;
        }
        .pexel-gallery-container{
            min-height: 65vh;
            width: 95%;
            border-radius: 0;
        }
    
        //app will initially load with this class on every photo
        .group-grid{
            grid-template-columns: repeat(2, minmax(100px, 400px));
            grid-template-rows: repeat(6, minmax(100px, 400px));
        }

        .image-0{
            grid-column:1/2;
            grid-row: 1/2;
            
        }
        .image-1{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .image-2{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        .image-3{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .image-4{
            grid-column: 1 / 2;
            grid-row: 3 / 4 ;
        }
        .image-5{
            grid-column: 2 / 3;
            grid-row:  3 /4;
        }
        .image-6{
            grid-column: 1 / 2;
            grid-row:  4 / 5;
        }
        .image-7{
            grid-column: 2 / 3;
            grid-row:  4 / 5 ;
            
        }
        .image-8{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
        .image-9{
            grid-column: 2 / 3;
            grid-row:  5 /6;
        }
        .image-10{
            grid-column: 1 / 2;
            grid-row:  6 / 7;
        }
        .image-11{
            grid-column: 2 / 3;
            grid-row:  6 /7;
        }
        .image-12{
            grid-column: 1 / 3;
            grid-row:  7 / 8;
        }

    }
}

@media only screen and (max-width: 414px){
    #pexels-main{
        .title-container{
         
            .title{
                font-size: 5rem;
                
            }
        }
        .search-bar-container{
            width: 75%;
            #search-bar{
                font-size: 1.3rem;
            }
            #search-btn{
                font-size: 1.3rem;
            }
        }

        .app-navigation-container{
            width: 95%;
        }
        .pexel-gallery-container{
            min-height: 65vh;
            width: 95%;
            border-radius: 0;;
            overflow: scroll;
        }
    
        //app will initially load with this class on every photo
        .group-grid{
            grid-template-columns: repeat(2, minmax(60px, 400px));
            grid-template-rows: repeat(6, minmax(60px, 400px));
        }

        .image-0{
            grid-column:1/2;
            grid-row: 1/2;
            
        }
        .image-1{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .image-2{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        .image-3{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .image-4{
            grid-column: 1 / 2;
            grid-row: 3 / 4 ;
        }
        .image-5{
            grid-column: 2 / 3;
            grid-row:  3 /4;
        }
        .image-6{
            grid-column: 1 / 2;
            grid-row:  4 / 5;
        }
        .image-7{
            grid-column: 2 / 3;
            grid-row:  4 / 5 ;
        }
        .image-8{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
        .image-9{
            grid-column: 2 / 3;
            grid-row:  5 /6;
        }
        .image-10{
            grid-column: 1 / 2;
            grid-row:  6 / 7;
        }
        .image-11{
            grid-column: 2 / 3;
            grid-row:  6 /7;
        }
        .image-12{
            grid-column: 1 / 3;
            grid-row:  7 / 8;
        }

    }
}